/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconComment {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconComment .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* -----------------
	Sub menu
   ----------------- */
#navi-main-list-portal li.itemFeedback a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -356px;
}



/* --------------
	Search
   -------------- */
#headlet-quicksearch-content form.searchmodeComment a.mode,
#headlet-quicksearch-modes li.searchmodeComment a {
	background:url(../img/icons.png) no-repeat 3px -115px !important;
}



/* --------------------------
 	Portal tab feedback
   --------------------------*/
#portal-tab-feedback span.icon {
	background:url(../img/icons.png) no-repeat 0 -356px;
}



/* --------------------------
 	Task tab
   --------------------------*/
.task .taskTabs ul li.comment .label span.icon {
	background:url(../img/icons.png) no-repeat 0 5px;
}

.task .tabContent .commentButtons button.addComment .icon {
	background:url(../img/icons.png) no-repeat 0 2px;
}

.task .tabContent .commentButtons button.reverseOrder.asc .icon {
	background:url(../../../../core/assets/img/icons.png) no-repeat 0 -476px;
}

.task .tabContent .commentButtons button.reverseOrder.desc .icon {
	background:url(../../../../core/assets/img/icons.png) no-repeat 0 -506px;
}

.task-comments {
	display:block;
}

.task-comments .comment-properties {
	position:relative;
	margin:0 0 5px 0;
	padding:7px 5px;
	font-weight:bold;
	background:#E5E8DA url(../../../../core/assets/img/bg-tabheader.png) repeat-x 0 top;
}



/* -------------------
	Single comment
   ------------------- */
.task-comments .comment {
}

.task-comments .comment-details {
	padding-bottom:7px;
}

.task-comments div.comment ul {
	list-style-position:outside;
	list-style-type:disc;
	padding-left:14px;
}

.task-comments div.comment a {
	text-decoration:underline;
}

.task-comments .comment-details .left {
	float:left;
	width:300px !important;
}

.task-comments .comment-details .comment {
	padding:5px !important;
}

.task-comments .comment-details .persons .divider {
	border-bottom:1px dotted #bec5ab;
}

.task-comments .comment-details .right {
	float:left;
	width:285px;
}



/* -----------------------------------------------------------
	Feedback and email receiver persons in comment header
   ----------------------------------------------------------- */
.task-comments .comment-details .persons {
	padding:0 5px;
}

.task-comments .comment-details .persons,
.task-comments .comment-details .persons span {
	color:#666;
	line-height:18px;
}

.task-comments .comment-details .persons span {
	padding-left:13px;
	white-space:nowrap;
}
	/* Person has acknowledged feedback */
.task-comments .comment-details .persons span.commentperson-approved {
	background:transparent url('../img/icons.png') no-repeat 0 -480px;
}
	/* Person has only received the comment via mail */
.task-comments .comment-details .persons span.emailperson {
	background:transparent url('../img/icons.png') no-repeat 0 -511px;
}
	/* Person has acknowledged feedback AND received it via email */
.task-comments .comment-details .persons span.commentperson-approved-email {
	background:transparent url('../img/icons.png') no-repeat 0 -567px;
	padding-left:23px;
}
	/* Person has NOT acknowledged feedback */
.task-comments .comment-details .persons span.commentperson-unapproved {
	background:transparent url('../img/icons.png') no-repeat 0 -330px;
}
	/* Person has NOT acknowledged feedback AND received it via email */
.task-comments .comment-details .persons span.commentperson-unapproved-email {
	background:transparent url('../img/icons.png') no-repeat 0 -535px;
	padding-left:23px;
}




.task-comments li.isPublic {
	border:solid #FF0000 !important;
	border-width:1px !important;
}

.task-comments .hasicon {
	padding:3px 0;
}

.task-comments .comment-crdate {

}

.task-comments .comment-personapproval {
	display:block;
	float:left;
	position:relative;
	top:-2px;
	margin-right:10px;
	height:16px;
	width:16px;
	background:url(../img/icons.png) no-repeat 0 -300px;
}

.task-comments .comment-person {

}

.task-comments .comment-id {
	float:right;
	margin:0 5px 0 -12px;
	font-size:11px !important;
	letter-spacing:1px;
	font-weight:normal;
}

.task-comments .comment-options {
	position:absolute;
	top:5px;
	right:5px;
	margin:0 82px 0 -82px;
}

.task-comments .comment-options a {
	float:left;
	margin-left:10px;
	width:18px;
}

.task-comments .public-trigger {
	background:url(../img/icons.png) no-repeat 0 -236px;
	width:22px !important;
}

.task-comments .comment-edit {
	background:url(../img/icons.png) no-repeat 0 -60px;
}

.task-comments .comment-remove {
	background:url(../img/icons.png) no-repeat 0 -26px;
}

.task-comments .comment-public {
	background-position:0 -268px;
}

.task-comments .comment-log {
	background:url(../img/icons.png) no-repeat 0 -420px;
}

.task-comments .comment-log.expanded {
	background:url(../img/icons.png) no-repeat 0 -450px;
}

.task-comments li .comment-properties span.commentOptions .feedbackRequestedFromMe {
	background:transparent;
	cursor:pointer;
}

.task-comments li.taskOptionBlock {
	border:1px solid #0065A6;
	margin:0 20px 5px;
	padding:5px;
	background-color:#fff;
}

/* -------------------------
	comment task tab
   ------------------------- */
.tabContent .commentButtons {
	padding:10px 10px 5px 10px;
}
.tabContent ul.task-comments {
	background-color:#fff;
	padding:5px;
}

/* --------------------
	Comment form
   -------------------- */



/* -----------------------------------------
	Comment feedback and mailing log
   ----------------------------------------- */
li.comment .comment-history {
	border:1px dotted #8cabc8;
	background-color:#F7FBFF;
	padding:0 0 1px 0;
}

	.comment-history .log-head {
		cursor:pointer;
		background:url(../img/icons.png) no-repeat 6px -447px;
		padding:4px 0 4px 26px;
		background-color:#e8e8e8;
	}

	.comment-history dl {
		padding:4px 0 6px 8px;
	}
		.comment-history dl dt {
			float:left;
			width:92px;
			padding-right:8px;
		}
			.comment-history dl dt.indented {
				float:left;
				width:92px;
				padding-left:8px;
			}

		.comment-history dl dd .person {
			float:left;
			width:150px;
		}
		.comment-history dl dd .description {
			width:360px;
			float:left;
		}



/* ------------------
	Send as email
   ------------------ */
.commentMailBox {
	clear:both;
	background-color:#fafafa;
	border:1px dotted #ccc;
	margin:18px 0 8px 12px;
	padding:6px 0 10px 4px;
	width:564px;
}

select.customerRecipientsSelectorSingle {
	width:320px;
	height:18px;
	margin:0 4px 0 30px;
}

select.customerRecipientsSelectorMulti {
	width:320px;
	height:78px;
	margin:0 4px 0 30px;
}

td.custSelectorOptions {
	padding:0 0 0 4px;
}

	td.custSelectorOptions input.toggleCustSel {
		margin:0;
	}

input.ccommentMail {
	margin:0 0 -2px 8px;
}

input.emsTmsButMarg { /* email-send & task message send buttons */
	margin:8px 0 2px 0;
}

input.deleteButtonOwnComment {
	margin:0 0 2px 500px;
}



/* ------------------------
	Context menu task
   ------------------------ */
#contextmenu .taskContextMenu.task-add-comment {
	background-image:url(../img/icons.png);
	background-position:3px 3px;
}

/* ------------------------
	task tab comment
   ------------------------ */
.commentform .fForm {
	padding:0;
	background:none;
}
.contextmenuComment .commentform .fForm {
	background:white;
	padding:0;
}
.contextmenuComment .commentform .fForm legend {
	left:-5px;
	text-indent:5px;
	border:none;
}
.contextmenuComment .commentform .fForm fieldset {
	padding-left:5px;
}