/* -----------------
	Submenu
   ----------------- */
#navi-main-list-portal li.itemFeedback a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -356px;
}

/* --------------
	Search
   -------------- */

#headlet-quicksearch-modes .searchmode-comment a {
	background:url(../img/icons.png) no-repeat 3px -117px !important;
}