{Label comment.ext.mail.newcomment}

========================================================================
{Label project.ext.project}:	{html2text $project.title true}
{Label project.task.task}:	{html2text $task.title true} ({$task.id_project}.{$task.tasknumber})
{Label comment.ext.mail.commentfrom}:	{$personWrite.firstname} {$personWrite.lastname}{if $hideEmails != true} <{$personWrite.email}>{/if}
{if $personWrite.id !== $personSend.id}{Label comment.ext.mail.commentsentby}: {$personSend.firstname} {$personSend.lastname}{if $hideEmails != true} <{$personSend.email}>{/if}{/if}
========================================================================
{html2text $comment.comment true}

========================================================================
{Label comment.ext.mail.showcommentinprojectview}:
{html2text $commentlink true}

{if sizeof($feedback_persons) > 0}
========================================================================
{Label comment.ext.mail.feedbackexpected}:
{foreach $feedback_persons feedbackPerson}
 - {$feedbackPerson.firstname} {$feedbackPerson.lastname} {if $hideEmails != true}<{$feedbackPerson.email}>{/if}
{/foreach}
{/if}
========================================================================
{Label project.task.description}:
{html2text $task.description true}