<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Comment Mail</title>
<style type="text/css">
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#F8FFF0;
}
</style>
</head>

<body>
<p>{Label comment.mail.newcomment}</p>
<table width="600" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="70"><strong>{Label project.project}</strong></td>
    <td width="510">{htmlencode $project.title}</td>
  </tr>
  <tr>
    <td><strong>{Label task.task}</strong></td>
    <td><a href="{$tasklink}">{htmlencode $task.title} ({$task.id_project}.{$task.tasknumber})</a></td>
  </tr>
</table>
<p>{Label comment.mail.showcommentinprojectview}: <a href="{$commentlink}">{Label comment.mail.commentlink}</a></p>
<p>{Label comment.mail.commentfrom} {$user.firstname} {$user.lastname} <a href="mailto:{$user.firstname} {$user.lastname}<{$user.email}>">&lt;{$user.email}&gt;</a></p>
<p>{$comment.comment}</p>
<table width="600" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td width="150" valign="top"><strong>{Label comment.mail.feedbackexpected}</strong></td>
		<td width="430">
    {foreach $feedback_users feedbackUser}
    	{$feedbackUser.firstname} {$feedbackUser.lastname}<br>
    {/foreach}
    </td>
  </tr>
  <tr>
    <td valign="top"><strong>{Label task.description}</strong></td>
    <td>{htmlencode $task.description}</td>
  </tr>
</table>
</body>
</html>