<li id="task-comment-{$id}" class="comment {if $is_public}{if isSeeAllCommentsAllowed()}isPublic{/if}{/if}">
	<div id="task-comment-{$id}-properties" class="properties">
		{if $isUnapproved}
			<a href="javascript:void(0)" id="comment-{$id}-seenstatus" onclick="Todoyu.Ext.comment.setSeenStatus({$id}, {personid()})" class="personApproval hasicon"></a>
		{/if}
		<span id="task-comment-{$id}-crdate" class="crdate">{dateFormat $date_create datetime}</span> -
		<span id="task-comment-{$id}-person" class="comment-person">
			{personLabel idPrefix="comment-personcreate" idRecord=$id idPerson=$person_create.id}
		</span>
		<span id="task-comment-{$id}-id" class="commentId" title="{Label comment.ext.id}">c{$id}</span>
		<span id="task-comment-{$id}-actions" class="actions">

		{foreach $actions action}
			<a href="{$action.href|default:"javascript:void(0)"}" {if $action.onclick}onclick="{$action.onclick}"{/if} class="icon {$action.class}" title="{Label $action.label}" id="comment-{$id}-action-{$action.id}">
				<span class="hidden">{Label $action.label}</span>
			</a>
		{/foreach}

		</span>
	</div>
	<div id="task-comment-{$id}-text" class="details">
		{* --------------------------- Comment persons (feedback, email, etc) --------------- *}
		<div class="involvedPersons" id="task-comment-{$id}-involvedPersons">
			{foreach $involvedPersons involvedPerson}
				<span class="involvedPerson" id="task-comment-{$id}-involvedPerson-{$involvedPerson.key}">
					{if $involvedPerson.feedback}
						<span class="icon feedback {tif $involvedPerson.feedbackSeen ? 'approved' : 'unapproved'}"></span>
					{/if}
					{if $involvedPerson.email}
						<span class="icon email"></span>
					{/if}

					<span class="label">
						{if $involvedPerson.personID}
							{personLabel idPrefix="comment-personfeedback" idPerson=$involvedPerson.personID}
						{else}
							{if $involvedPerson.receiverTuple}
								{mailreceiverLabel tuple=$involvedPerson.receiverTuple}
							{else}
								{htmlencode $involvedPerson.label}
							{/if}
						{/if}
					</span>
				</span>
			{/foreach}
		</div>
		{* --------------------------- Comment itself --------------- *}
		<div class="commentText">{substituteLinkableElements(cleanHtml($comment))}</div>

		{if $publicFeedbackWarning}
			<div class="publicFeedbackWarning">{$publicFeedbackWarning}</div>
		{/if}

		{if $updateInfo}
			<div class="updateInfo">{$updateInfo}</div>
		{/if}

		{if $additionalContentItems}
			<div class="additionalContent">
				{foreach $additionalContentItems additionalContentItem}
					<div class="{$additionalContentItem.class}">
						{$additionalContentItem.content}
					</div>
				{/foreach}
			</div>
		{/if}

	</div>
	<div class="clear"><!-- clear --></div>
</li>