<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Comment Mail</title>
<style type="text/css">
body, p {
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:11px;
}

td {
	font-family:Arial;
	font-size:11px;
}
</style>
</head>

<body bgcolor="#f8fff0">

{* task status colors *}
{assign array("" "#7f007f" "#FF0000" "#FFAC00" "#FFFC00" "#77DC00" "green" "#A60000" "grey" "#2335e0" "pink") colors}

<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="{constant(SERVER_URL)}/config/img/logo.png" alt="" width="159" height="52" border="0" />
			<br /><br /><br />
		</td>
	</tr>
	<tr>
		<td style="color:#000; font-size:11px; font-family:Arial;">
			{Label comment.mail.newcomment}
			<br /><br />
		</td>
	</tr>
	<tr>
		<td>
			<table width="600" border="0" cellspacing="0" cellpadding="5" bgcolor="#d3dabb">
				<tr>
					<td width="10" bgcolor="{$colors[$task.status]}"  style="background:{$colors[$task.status]}; border-left:1px solid {$colors[$task.status]};"><!-- spacer --></td>
					<td valign="top" align="left" style="color:#000; font-size:11px; font-family:Arial;">
						<strong style="margin:0; padding:0; color:#000; font-size:11px; font-family:Arial;">
							{dateFormat $task.date_deadline D2M2Y2}
						</strong>
					</td>
					<td valign="top" align="left" style="color:#000; font-size:11px; font-family:Arial;">
						<strong style="margin:0; padding:0; color:#000; font-size:11px; font-family:Arial;">
							{$project.company.title}
						</strong>
					</td>
					<td valign="top" align="left" style="color:#000; font-size:11px; font-family:Arial;">
						<strong style="margin:0; padding:0; color:#000; font-size:11px; font-family:Arial;">
							{htmlencode $project.title} - <a href="{$tasklink}">{htmlencode $task.title}</a>
						</strong>
					</td>
					<td valign="top" align="right" style="color:#000; font-size:11px; font-family:Arial;">
						<strong style="margin:0; padding:0; color:#000; font-size:11px; font-family:Arial;">
							{$task.id_project}.{$task.tasknumber}
						</strong>
					</td>
					<td width="10"><!-- spacer --></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="600" border="0" cellspacing="0" cellpadding="5" bgcolor="#f1f1f1">
				<tr>
					<td width="10" style="border-left:1px solid {$colors[$task.status]};"><!-- spacer --></td>
					<td style="color:#000; font-size:11px; font-family:Arial;">
						{$task.description}
					</td>
					<td width="10"><!-- spacer --></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>

		</td>
	</tr>
	<tr>
		<td>
			<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3eace">
				<tr><td height="10" style="border-left:1px solid {$colors[$task.status]};"><!-- spacer --></td></tr>
				<tr>
					<td align="center" style="border-left:1px solid {$colors[$task.status]};">
						<table width="580" border="0" cellspacing="0" cellpadding="5" bgcolor="#d3dabb">
							<tr>
								<td width="10"><!-- spacer --></td>
								<td valign="top" align="left">
									<strong style="margin:0; padding:0; color:#000; font-size:11px; font-family:Arial;">
										{dateFormat $comment.date_create D2M2Y2} - {if $hideEmails == true}{$personWrite.firstname} {$personWrite.lastname}{else}<a href="mailto:{$personWrite.firstname}%20{$personWrite.lastname}%20%3C{$personWrite.email}%3E">{$personWrite.firstname} {$personWrite.lastname}</a>{/if}
									</strong>
								</td>
								<td valign="top" align="right">
									<strong style="margin:0; padding:0; color:#000; font-size:11px; font-family:Arial;">
										c{$comment.id}
									</strong>
								</td>
								<td width="10"><!-- spacer --></td>
							</tr>
						</table>
					</td>
				</tr>
				{if sizeof($feedback_persons) > 0}
				<tr>
					<td align="center" style="border-left:1px solid {$colors[$task.status]};">
						<table width="580" border="0" cellspacing="0" cellpadding="5" bgcolor="#f1f1f1" style="border-bottom:1px solid #d3dabb;">
							<tr>
								<td width="10"><!-- spacer --></td>
								<td valign="top" align="left" style="color:#000; font-size:11px; font-family:Arial;">
										{Label comment.mail.feedbackexpected}:
								</td>
								<td valign="top" align="left" style="color:#000; font-size:11px; font-family:Arial;">
									{foreach $feedback_persons feedbackPerson}
										{if $hideEmails != true}
											<a href="mailto:{$feedbackPerson.firstname}%20{$feedbackPerson.lastname}%20%3C{$feedbackPerson.email}%3E">{$feedbackPerson.firstname} {$feedbackPerson.lastname},</a>
										{else}
											{$feedbackPerson.firstname} {$feedbackPerson.lastname}
										{/if}
									{/foreach}
								</td>
								<td width="10"><!-- spacer --></td>
							</tr>
						</table>
					</td>
				</tr>
				{/if}
				<tr>
					<td align="center" style="border-left:1px solid {$colors[$task.status]};">
						<table width="580" border="0" cellspacing="0" cellpadding="5" bgcolor="#f1f1f1" style="border-bottom:1px solid #d3dabb;">
							<tr>
								<td width="10"><!-- spacer --></td>
								<td style="color:#000; font-size:11px; font-family:Arial;">
									{$comment.comment}
								</td>
								<td width="10"><!-- spacer --></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" style="border-left:1px solid {$colors[$task.status]};">
						<table width="580" border="0" cellspacing="0" cellpadding="5" bgcolor="#f1f1f1">
							<tr>
								<td width="10"><!-- spacer --></td>
								<td style="color:#000; font-size:11px; font-family:Arial;">
									<a href="{$commentlink}">{Label comment.mail.showcommentinprojectview}</a>
									<br /><br />
								</td>
								<td width="10"><!-- spacer --></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="10" style="border-left:1px solid {$colors[$task.status]};"><!-- spacer --></td></tr>
			</table>
		</td>
	</tr>
</table>

</body>
</html>