<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Comment Mail</title>
<style type="text/css">
body, td, p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#F8FFF0;
}
</style>
</head>

<body>
<p>{Label comment.mail.newcomment}</p>
<table width="600" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="70"><strong>{Label project.project}</strong></td>
    <td width="510">{htmlencode $project.title}</td>
  </tr>
  <tr>
    <td><strong>{Label task.task}</strong></td>
    <td><a href="{$tasklink}">{htmlencode $task.title} ({$task.id_project}.{$task.tasknumber})</a></td>
  </tr>
  <tr>
    <td><strong>{Label comment.mail.commentfrom}</strong></td>
    <td>{$userWrite.firstname} {$userWrite.lastname} <a href="mailto:{$userWrite.firstname} {$userWrite.lastname}<{$userWrite.email}>">&lt;{$userWrite.email}&gt;</a></td>
  </tr>
{if $userWrite.id !== $userSend.id}
  <tr>
    <td><strong>{Label comment.mail.commentsentby}</strong></td>
    <td>{$userSend.firstname} {$userSend.lastname} <a href="mailto:{$userSend.firstname} {$userSend.lastname}<{$userSend.email}>">&lt;{$userSend.email}&gt;</a></td>
  </tr>
{/if}  
</table>
<p>{$comment.comment}</p>

<p>{Label comment.mail.showcommentinprojectview}:<br>
<a href="{$commentlink}">{Label comment.mail.commentlink}</a></p>

<table width="600" border="0" cellspacing="0" cellpadding="5">
	{if sizeof($feedback_users) > 0}
	<tr>
		<td width="150" valign="top"><strong>{Label comment.mail.feedbackexpected}</strong></td>
		<td width="430">
			<ul>
			{foreach $feedback_users feedbackUser}
				<li>{$feedbackUser.firstname} {$feedbackUser.lastname} &lt;{$feedbackUser.email}&gt;</li>
			{/foreach}
			</ul>
	    </td>
  	</tr>
 	{/if}
  <tr>
    <td valign="top"><strong>{Label task.description}</strong></td>
    <td>{$task.description}</td>
  </tr>
</table>
</body>
</html>