{html2text $comment.comment true}

{Label comment.ext.mail.showcommentinprojectview}:
{html2text $commentlink true}

========================================================================

{Label project.task.description}:
------------------------------------------------------------------------
{html2text $task.description true}

========================================================================