<div id="formElement-comment-field-emailbox" class="formElement type-select fieldname-emailbox">
    <div class="formLabel">
        <label id="comment-field-emailbox-label" for="comment-field-emailbox">Send copy to</label>
    </div>
    <div class="formField">
    	<select multiple="multiple" id="comment-field-emailbox" name="comment[emailbox][]">

    	</select>
    </div>
    <div class="formClear">
    <!-- -->
    </div>
</div>