<div class="log-head" onclick="Todoyu.Ext.comment.toggleLog({$id});">
	c{$id} {Label comment.history.header}
</div>
<dl>
	{* --------------------- Comment created --------------------- *}
	<dt>{dateFormat $logEntry.date_update datetime}</dt>
	<dd class="person">
		<span class="person">{$person_create}</span>
		<span class="description">{Label comment.history.created}</span>
	</dd>
	<div class="clear"><!-- clear --></div>

{foreach $log timestampEntry}
	{foreach $timestampEntry logEntry}
		{$curTimestamp	= $logEntry.date_create}
		{* --------------------- List feedback requests --------------------- *}
		{if $logEntry.table == 'ext_comment_mm_comment_feedback'}
	<dt>{dateFormat $logEntry.date_update datetime}</dt>
	<dd class="person">
		<span class="person">{$logEntry.person_create}</span>
		<span class="description">{Label comment.history.feedbackrequestedfrom}: {$logEntry.person_feedback}</span>
	</dd>
	<div class="clear"><!-- clear --></div>
			{* -------------- List seen if, when -------------- *}
			{if $logEntry.is_seen == 1}
	<dt class="indented">{dateFormat $logEntry.date_update datetime}</dt>
	<dd class="person">
		<span class="person">{$logEntry.person_feedback}</span>
		<span class="description">{Label comment.history.feedbackrequestseen}</span>
	</dd>
	<div class="clear"><!-- clear --></div>
			{/if}
		{/if}
		{* --------------------- List mailings --------------------- *}
		{if $logEntry.table == 'ext_comment_mailed'}
	<dt>{dateFormat $logEntry.date_update datetime}</dt>
	<dd class="person">
		<span class="person">{$logEntry.person_create}</span>
		<span class="description">{Label comment.history.mailedto}: {$logEntry.person_mailed}</span>
	</dd>
	<div class="clear"><!-- clear --></div>
		{/if}
	{/foreach}
{/foreach}
</dl>