	{* Commands at top *}
<div class="tabBlock overflow commentButtons" id="task-{$idTask}-comment-commands-top">
	{if isAddInTaskAllowed($idTask)}
		{Button label="comment.ext.button.addComment" class="addComment" onclick="Todoyu.Ext.comment.add($idTask)"}
	{/if}
	{if sizeof($comments) > 1}
		{Button label="comment.ext.button.reverseOrder" class="order {if $desc}desc{/if}" onclick="Todoyu.Ext.comment.toggleSorting($idTask)"}
	{/if}
</div>

	{* List of comments *}
<ul class="task-comments {if $desc}desc{else}asc{/if}" id="task-{$idTask}-comments">
{foreach $comments commentHTML}
	{$commentHTML}
{/foreach}
</ul>

	{* Commands at bottom *}
<div class="tabBlock overflow commentButtons" id="task-{$idTask}-comment-commands-bottom">
	{if isAddInTaskAllowed($idTask)}
		{Button label="comment.ext.button.addComment" class="addComment" onclick="Todoyu.Ext.comment.add($idTask)"}
	{/if}
	{if sizeof($comments) > 1}
		{Button label="comment.ext.button.reverseOrder" class="order {if $desc}desc{/if}" onclick="Todoyu.Ext.comment.toggleSorting($idTask)"}
	{/if}
</div>