<div class="tabBlock overflow commentButtons" id="task-{$idTask}-comment-commands">
	{Button label="comment.button.addComment" class="addComment" onclick="Todoyu.Ext.comment.edit($idTask, 0)"}
	{Button label="comment.button.reverseOrder" class="reverseOrder $descClass" onclick="Todoyu.Ext.comment.toggleSorting($idTask)"}
</div>

<ul class="task-comments {if $desc}desc{else}asc{/if}" id="task-{$idTask}-comments">
{foreach $comments commentHTML}
	{$commentHTML}
{/foreach}
</ul>